STEP: 1 - IMPORT DEPENDENCIES

In [1]:
# notebook_setup.py

# Data analysis
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# SQL
from sqlalchemy import create_engine, text
%load_ext sql


# Date/time handling
import datetime as dt

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Visualization defaults
sns.set_theme(style="whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

print("✅ Common data analysis libraries loaded: pandas, numpy, seaborn, matplotlib, sqlalchemy")

✅ Common data analysis libraries loaded: pandas, numpy, seaborn, matplotlib, sqlalchemy

STEP 2: CREATING A CONNECTION TO POSTGRES

In [2]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

# Load environment variables from .env
load_dotenv()

# Read values
username = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
database = os.getenv("DB_NAME")

# Build connection URL (handles special characters like # automatically)
connection_url = URL.create(
    "postgresql+psycopg2",
    username=username,
    password=password,
    host=host,
    port=port,
    database=database
)

# Create engine
engine = create_engine(connection_url)

# Test connection
try:
    with engine.connect() as conn:
        print("✅ Connected to PostgreSQL successfully!")
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connected to PostgreSQL successfully!

STEP 3: ACCESSING THE TABLE

In [3]:
# List all schemas and tables you can see
query = """
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_type='BASE TABLE'
AND table_schema NOT IN ('pg_catalog','information_schema','pgagent');
"""
# Preview your Airbnb data (replace schema.table with your actual)
pd.read_sql("SELECT * FROM airbnb_listings.ab_nyc LIMIT 5;", engine)

# Row count
pd.read_sql("SELECT COUNT(*) FROM airbnb_listings.ab_nyc;", engine)

   count
0  48895

ANALYSIS

In [5]:
airbnb_df = pd.read_sql("SELECT * FROM airbnb_listings.ab_nyc;", engine)

# Quick summary
airbnb_df.info()
airbnb_df.describe()

# Example: Average price per neighbourhood_group
airbnb_df.groupby("neighbourhood_group")["price"].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     48895 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

neighbourhood_group
Bronx            87.50
Brooklyn        124.38
Manhattan       196.88
Queens           99.52
Staten Island   114.81
Name: price, dtype: float64

In [1]:
airbnb_df.head()

NameError: name 'airbnb_df' is not defined